/* programs-admin.css */
#admin{
    padding: 100px 10px;
}
/* programs-admin.css */
/* programs-admin.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.containerAdmin {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

.addform input{
    width: 90%;
    margin-top: 10px;
}
.addform button{
    width: 200px;
}
button {
    padding: 16px 32px; /* Increased padding */
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px; /* Increased padding */
}

table th {
    background-color: #f2f2f2;
}

table td input[type="text"] {
    width: calc(100% - 28px); /* Adjusted width */
    padding: 12px; /* Increased padding */
    box-sizing: border-box;
}

table img {
    max-width: 100px;
    height: auto;
}
.addInputs{
    padding: 16px 100px; /* Increased padding */
margin-right: 20px;}
