/* For desktop */
#about {
    text-align: center;
    background-color: #7971EA;
}

#about .container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about div h3 {
    color: white;
    font-size: 30px;
    padding: 20px 0;
}

#about div p {
    color: white;
    font: 20px;
}

#about div a {
    padding: 10px;
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 10px 0;
    text-decoration: none;
}

/* For tablet */
@media screen and (max-width: 768px) {
    #about div h3 {
        font-size: 24px;
    }
   

    #about div p {
        font-size: 18px;
    }
}

/* For mobile */
@media screen and (max-width: 480px) {
    #about div h3 {
        font-size: 20px;
    }

    #about div p {
        font-size: 16px;
    }
}
