#coursesGrid .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.courseCard {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 30%;
  margin-top: 50px;
}


.courseCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.courseCardBody {
  padding: 20px;
}

.courseCardBody h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.description {
  font-size: 0.9rem;
  color: #666;
}

.price {
  font-size: 1rem;
  margin-top: 10px;
}
.filters{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 25px;
}

.filters {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  align-items: center;
}

.filters input, select {
  padding: 5px 15px;
  border: 15px solid white;
  border-radius: 5px;
  outline: none;
}

#dolu {
  color: red;
}

.icons svg {
  cursor: pointer;
  transition: color 0.3s ease;
}

.icons svg:hover {
  color: #ff5722;
}

.courseCard a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.courseCard a:hover {
  color: #ff5722;
}


/* Media queries for tablet */
@media (max-width: 1024px) {
  .courseCard {
      width: 45%; /* Adjust width for tablet */
  }
  .filters input,select{
    width: 20%;
  }
  .courseCard {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 45%;
    margin-top: 50px;
  }
}

/* Media queries for desktop */
@media (min-width: 1200px) {
  .courseCard {
      width: 30%; /* Adjust width for desktop */
  }
  .filters input,select{
    width: 30%;
  }
  .courseCard {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 30%;
    margin-top: 50px;
  }
}
@media screen and (max-width: 550px) {
  .courseCard {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 90%;
    margin-top: 50px;
  }
  #coursesGrid .container {
    display: flex;
    justify-content: center;
  }
  .filters {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;  }
  .filters input,select{
    width: 80%;
    margin-bottom: 10px;
  }
}
