.navbarAdmin {
    padding: 25px 5px;
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 5;
}

#navAdmin .container {
    width: 100% !important;
    padding: 0 20px;
    margin: auto;
}

#navAdmin div {
    display: flex;
    justify-content: space-between;
}

#navAdmin div ul {
    display: flex;
    justify-content: space-between;
    width: 70% !important;
    list-style: none;
}

.navbarAdmin div a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#navAdmin div ul li a:hover {
    color: rgb(199, 193, 193);
}

#navAdmin div ul li a.active {
    border-bottom: 3px solid white;
    padding-bottom: 3px;
}

.menu-toggle svg {
    display: none;
}

.scrolled .menu-toggle svg {
    color: black !important;
}

.scrolled {
    background-color: white;
    color: black !important;
    padding: 25px 0;
    width: 100%;
    position: fixed;
    z-index: 5;
}

.scrolled div a {
    color: black;
}

/* For tablet */
@media screen and (max-width: 768px) {
    #navAdmin div ul {
        display: none; /* Hide the navigation links by default */
    }
    
    .navbarAdmin {
        padding: 15px; /* Adjust padding */
    }
    
    .navbarAdmin div {
        justify-content: flex-end; /* Align the hamburger menu to the right */
    }

    /* Show the hamburger menu */
    .navbarAdmin .menu-toggle svg {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 24px;
    }

    /* Hide the container when the hamburger menu is active */
    #navAdmin.active div ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust as needed */
        left: 0;
        width: 100%;
        background-color: #343a40;
        padding: 10px 0;
        z-index: 10;
    }

    /* Style the links in the hamburger menu */
    #navAdmin.active div ul li {
        text-align: center;
        margin-bottom: 10px;
    }

    #navAdmin.active div ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }
}

/* For desktop */
@media screen and (min-width: 769px) {
    .navbarAdmin .menu-toggle svg {
        display: none; /* Hide the hamburger menu icon */
    }

    #navAdmin div ul {
        display: flex;
        justify-content: space-between;
        width: 60%;
        list-style: none;
    }

    #navAdmin div ul li a:hover {
        color: rgb(199, 193, 193);
    }

    #navAdmin div ul li a.active {
        border-bottom: 3px solid white;
        padding-bottom: 3px;
    }
}
