#footer{
    padding-top: 150px;
    border-top: 1px solid rgb(243, 241, 241);
    
}
#footMain{
    border-bottom: 1px solid rgb(243, 241, 241);
    padding: 20px 0  100px 0;
    display: flex;
    justify-content: space-between;
}
#footMain div ul{
    height: 130px;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;

}
#footMain div ul li a{
    color: #7971EA;
    text-decoration: none;

}
#footMain>div{
    
    display: flex;
    flex-direction: column;
    width: 25%;
}
#footMain div:nth-child(2){
    padding-left: 100px;
}
#footMain div h2{
    margin-bottom: 20px;
    font-size: 1rem;
}
#footMain div p{
    font-size: 1rem;
    color: #808080;
}
#footInp{
    display: flex;
    margin-top: 10px;
}
#footInp input{
    padding: 10px 5px;
    
    
}
#submit{
    width: 40%;
    color: white;
    background-color: #7971EA;
    border: none;
}
#footBottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
#footBottom a{
    margin-left: 5px;
    text-decoration: none;
}