.navbar {
    padding: 25px 5px;
    background-color: transparent;
    width: 100%;
    position: fixed;
    z-index: 5;
}
.mainIcons{
    color: white;
    font-size: 20px;
}
.scrolled .mainIcons{
    color: black;
    font-size: 20px;
}
#nav .container {
    width: 100% !important;
    padding: 0 20px;
    margin: auto;
}

#nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav div ul {
    display: flex;
    justify-content: space-between;
    width: 70% !important;
    align-items: center;
    list-style: none;
}

.navbar div a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#nav div ul li a:hover {
    color: rgb(199, 193, 193);
}

#nav div ul li a.active {
    border-bottom: 3px solid white;
    padding-bottom: 3px;
}

.menu-toggle svg {
    display: none;
}

.scrolled .menu-toggle svg {
    color: black !important;
}

.scrolled {
    background-color: white;
    color: black !important;
    padding: 25px 0;
    width: 100%;
    position: fixed;
    z-index: 5;
}

.scrolled div a {
    color: black;
}

/* For tablet */
@media screen and (max-width: 950px) {
    #nav div ul {
        display: none; 
    }
    
    .navbar {
        padding: 15px; /* Adjust padding */
    }
    
    .navbar div {
        justify-content: flex-end; /* Align the hamburger menu to the right */
    }

    /* Show the hamburger menu */
    .navbar .menu-toggle svg {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 24px;
    }
  
    #nav.active div ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px; /* Adjust as needed */
        left: 0;
        width: 100% !important;
        background-color: #343a40;
        padding: 10px 0;
        z-index: 10;
    }

    /* Style the links in the hamburger menu */
    #nav.active div ul li {
        text-align: center;
        margin-bottom: 10px;
        color: white;
    }

    #nav.active div ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }
}


/* For desktop */
@media screen and (min-width: 950px) {
    .navbar .menu-toggle svg {
        display: none; /* Hide the hamburger menu icon */
    }

    #nav div ul {
        display: flex;
        justify-content: space-between;
        width: 60%;
        list-style: none;
    }

    #nav div ul li a:hover {
        color: rgb(199, 193, 193);
    }

    #nav div ul li a.active {
        border-bottom: 3px solid white;
        padding-bottom: 3px;
    }
}
