#formContact .container{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#formContact h3{
    font-size: 50px;
}
#formContact form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formContact form input,textarea{
    margin-top: 20px;
    width: 500px;
    padding: 15px 10px;
    border: 1px solid gray;
    border-radius: 10px;
}
#contactSubmit{
    background-color: #7971EA;
    color: white;
    border-radius: 15px;
    width: 500px;
    padding: 15px 10px;


}
/* Media query for tablets */
@media only screen and (max-width: 1023px) {
    #formContact .container {
        padding-top: 50px; /* Adjust padding for tablets */
    }

    #formContact h3 {
        font-size: 40px; /* Adjust font size for tablets */
    }

    #formContact form input,
    #formContact form textarea {
        width: 90%; /* Adjust input and textarea width for tablets */
        max-width: 500px; /* Set maximum width for tablets */
    }

    #contactSubmit {
        width: 90%; /* Adjust button width for tablets */
        max-width: 500px; /* Set maximum width for tablets */
    }
}

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
    #formContact h3 {
        font-size: 30px; /* Adjust font size for mobile devices */
    }

    #formContact form input,
    #formContact form textarea {
        width: 90%; /* Adjust input and textarea width for mobile devices */
        max-width: 100%; /* Set maximum width to full width for mobile devices */
    }

    #contactSubmit {
        width: 90%; /* Adjust button width for mobile devices */
        max-width: 100%; /* Set maximum width to full width for mobile devices */
    }
}
